<h1>Restaurant <%= @restaurant.name %></h1>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>

<ul>
  <li><%= link_to 'Write a New Review', new_restaurant_review_path(@restaurant) %></li>
  <li><%= link_to 'Back to Index', restaurants_path %></li>
</ul>
